/* Styles go here */
.wallet {
    padding: 1rem;
    width: 300px;
}

#wallet-check:checked .wallet {
    display: block!important;
}

.vote-number {
    margin: 0px 6px;
}

.btn-wallet {
    padding: 4px 10px!important;
    margin-top: 8px;
    background-color: #007bff;
    color: white;
}

